In [1]:
s1 = "aabcc"
s2 = "adcaa"

In [2]:
s1.count("a")

2

In [3]:
min(s1.count("a"),s2.count("a"))

2

In [4]:
type(s1)

str

In [5]:
list(set(s1))

['a', 'c', 'b']

In [10]:
a=[]
for i in list(set(s1)):
    c = min(s1.count(i),s2.count(i))
    a.append(c)
sum(a)

3

In [11]:
def commonCharacterCount(s1, s2):
    a=[]
    [a.append(min(s1.count(i),s2.count(i))) for i in list(set(s1))]   
    return sum(a)